poc-client/node_modules/
poc-server/PocServer.WebApi/.vscode/
poc-server/PocServer.WebApi/obj/
poc-server/PocServer.WebApi/bin/
poc-server/PocServer.StoreManagement.Interfaces/bin/
poc-server/PocServer.StoreManagement.Interfaces/obj/
poc-server/PocServer.StoreManagement/bin/
poc-server/PocServer.StoreManagement/obj/
poc-server/PocServer.Data/obj/
poc-server/PocServer.Data/bin/
poc-server/PocServer.Data.Interfaces/bin/
poc-server/PocServer.Data.Interfaces/obj/
poc-server/PocServer.WebApi/grocerydb.sqlite
poc-client/.vscode/
