<div class='sell-container'>
   <div>
    <h3>Sell Products</h3>
    <mat-list class='cart-list'>

      <div *ngIf="selectedProducts != null">
          <mat-list role="list" *ngFor="let sp of selectedProducts">
              <mat-list-item role="listitem">
                  {{sp.Name}} {{sp.Quantity}}
                </mat-list-item>
                </mat-list>
      </div>
      <button mat-raised-button (click)="onSell" [disabled]="selectedProducts.length === 0">Sell</button>

    </mat-list>
  </div> 

<mat-divider></mat-divider>

  <a mat-list-item> Available Products</a>
  <div *ngIf="products != null">
    <mat-list role="list" *ngFor="let product of products">
      <mat-list-item role="listitem">
        <span class="item-label">Id </span> 
        {{": "+ product.Id}}
        <span class="item-label">Name</span> 
       
       {{": "+product.Name}} 
       <span class="item-label">Available:</span> 
        {{": "+product.Quantity}} 
        <button (click)='onDecrement(product)'>-</button>
        <button (click)="onIncrement(product)">+</button>
      </mat-list-item>
    </mat-list>

  </div>
</div>