<mat-sidenav-container class="side-menu-container" >
  <mat-sidenav mode="side" opened>
    
    <div class = 'side-menu'>
        <mat-nav-list>
            <a mat-list-item routerLink="." >
              <mat-icon>home</mat-icon>
            </a>
            <a mat-list-item routerLink="." >Manage</a>
            <a mat-list-item routerLink="." >Sell</a>
            
          </mat-nav-list>

      <!-- <ul>
          <li>
      
              <button>
                <mat-icon>home</mat-icon>
              </button>
            </li>

        <li>
          <button>
            Manage Items
          </button>
        </li>

        <li>
            <button>
                Sell
              </button>
         </li>
      </ul> -->

    </div>

  </mat-sidenav>


  
  <mat-sidenav-content>
   
    <router-outlet></router-outlet>
  
  
  </mat-sidenav-content>
</mat-sidenav-container>

