<mat-sidenav-container class="side-menu-container" >
  <mat-sidenav mode="side" opened>
    
    <div class = 'side-menu'>
        <mat-nav-list>
            <a mat-list-item routerLink="." >
              <mat-icon>home</mat-icon>
            </a>
            <a mat-list-item routerLink="manage-items" >Manage</a>
            <a mat-list-item routerLink="sell-items" >Sell</a>
            <a mat-list-item routerLink="report" >Report</a>
            
          </mat-nav-list>
    </div>

  </mat-sidenav>


  
  <mat-sidenav-content>
   
    <router-outlet></router-outlet>
  
  
  </mat-sidenav-content>
</mat-sidenav-container>

